@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=PT+Sans&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans','IBM Plex Sans', sans-serif;
}

/* Gallery Page */
.body > h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0.3rem solid orange;
}
.frame {
  margin: 3rem 3rem;
  width: 50%;
  height: 20%;
  background: rgb(24, 24, 226);
  border: 0.2rem solid rgb(199, 198, 198);
  border-radius: 0.3rem;
  padding: 2em 1.5em 2em 1.5em;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
img{
  transition: all linear 0.4s;
}
.bottom{
  position:absolute;
  top: 0;
  opacity: 0;
}
.frame:hover img{
  opacity: 0;
  cursor: pointer;
}
.frame:hover img.bottom{
  opacity: 1;
}





